[submodule "plugins/pyenv"]
	path = plugins/pyenv
	url = https://gitee.com/XmacsLabs/pyenv.git
[submodule "plugins/quiver"]
	path = plugins/quiver
	url = https://gitee.com/XmacsLabs/quiver.git
[submodule "plugins/octave"]
	path = plugins/octave
	url = https://gitee.com/texmacs/octave.git
[submodule "plugins/maxima"]
	path = plugins/maxima
	url = https://gitee.com/texmacs/maxima.git
