[submodule "plugins/octave"]
	path = plugins/octave
	url = https://github.com/texmacs/octave.git
[submodule "plugins/quiver"]
	path = plugins/quiver
	url = https://github.com/XmacsLabs/quiver.git
[submodule "plugins/pyenv"]
	path = plugins/pyenv
	url = https://github.com/XmacsLabs/pyenv.git
