# binary files
*.so
*.[oa]
*.exe
*.pyc
build
.kdev4
*.kdev4
*.py[cod]
*$py.class
__pycache__/

# editor files
*.sln
.idea
.vscode

# macOS
.DS_Store
*/.DS_Store

# temp files
*~
*.log
SVNREV
Testing
texmacs.1
tests/gtest
cmake-build-debug
CMakeLists.txt.user
misc/benchmark/gbench

TeXmacs/progs/ice-9

.xmake/
node_modules/
website/

TeXmacs/tests/*.ps
TeXmacs/tests/*.pdf

doxyfile

.cache/
compile_commands.json

docs/**/plugin_binary.md

# Binary of the S7 plugin
tm_s7
