name: CD for Mogan Research on Windows

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  windowsbuild:
    runs-on: windows-2019
    timeout-minutes: 45
    steps:
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: v2.9.3
      - name: update repo
        run: |
          xrepo update-repo
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Disable precompiled package
        run: xmake f --policies=package.precompiled:n
      - name: config
        run: xmake config --yes -vD -m release
      - name: build
        run: xmake build -vD research
      - name: install
        run: xmake install -vD research
      - name: Generate Installer
        run: xmake pack --yes -vD research
      - name: Upload 
        uses: actions/upload-artifact@v3
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        with:
          path: |
            build/xpack/research/*.exe
            build/xpack/research/*.zip
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: true
          files: |
            build/xpack/research/*.exe
            build/xpack/research/*.zip
