name: CD for Mogan STEM on Ubuntu

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  ubuntubuild:
    runs-on: ubuntu-22.04
    timeout-minutes: 45
    steps:
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: v2.9.6
      - name: update repo
        run: |
          xrepo update-repo
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y wget pandoc ghostscript libfontconfig1-dev \
            libcurl4-openssl-dev pkg-config qt6-base-dev libqt6svg6-dev \
            libjpeg-turbo8-dev libpng-dev libgit2-dev fakeroot debhelper
      - name: config
        run: xmake config --yes -vD -m release
      - name: build
        run: xmake build -vD stem 
      - name: Write version info
        run: |
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
            VERSION=${VERSION//\//}
          else
            VERSION=$(date +%Y.%m.%d)
          fi
          echo "Version: $VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Generate Debian Package
        run: |
          packages/debian/package.sh
          # Find and copy the generated .deb file
          find .. -name "mogan-stem*.deb" -exec cp {} ./mogan-stem-${VERSION}-ubuntu22.04.deb \;
      - name: Upload 
        uses: actions/upload-artifact@v4
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        with:
          path: |
            mogan-stem*.deb
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: true
          files: |
            mogan-stem*.deb