name: CI-Linux

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:
    name: Build On Ubuntu
    runs-on: ubuntu-18.04
    timeout-minutes: 120

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Install Dependencies
        run: |
          sudo DEBIAN_FRONTEND=noninteractive apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y cmake qtbase5-dev libqt5svg5-dev libfreetype-dev libsqlite-dev libjpeg-dev
      - name: Create Build Dir
        run: mkdir build
        working-directory: ${{runner.workspace}}
      - name: Build using CMake
        run: |
          cmake .. -DBUILD_TESTS=on
          make -j8
          ctest

