name: Build and Test on macOS arm64

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - '!src/Plugins/Windows/**'
      - 'tests/**'
      - 'xmake.lua'
      - 'xmake/packages.lua'
      - 'xmake/research.lua'
      - 'xmake/packages/**'
      - 'xmake-requires.lock'
      - '.github/workflows/ci-macos-arm64.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'src/**'
      - '!src/Plugins/Windows/**'
      - 'tests/**'
      - 'xmake.lua'
      - 'xmake/packages.lua'
      - 'xmake/research.lua'
      - 'xmake/packages/**'
      - 'xmake-requires.lock'
      - '.github/workflows/ci-macos-arm64.yml'

jobs:
  macosbuild:
    strategy:
      matrix:
        os: [macos-14]
        arch: [arm64]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 45
    if: always()
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: cache xmake
        uses: actions/cache@v4
        with:
          path: |
            ${{github.workspace}}/build/.build_cache
            /Users/runner/.xmake
          key: xmake-${{ runner.os }}-${{ matrix.arch }}-${{ hashFiles('xmake-requires.lock') }}

      - name: Set Qt Environment Variables
        run: |
          echo "Qt6_DIR=$Qt6_DIR" >> $GITHUB_ENV
          echo "CMAKE_PREFIX_PATH=$Qt6_DIR" >> $GITHUB_ENV
          echo "Qt6Widgets_DIR=$Qt6_DIR/lib/QtWidgets.framework" >> $GITHUB_ENV
          echo "Qt6Gui_DIR=$Qt6_DIR/lib/QtGui.framework" >> $GITHUB_ENV
          echo "Qt6Core_DIR=$Qt6_DIR/lib/QtCore.framework" >> $GITHUB_ENV

      - name: set XMAKE_GLOBALDIR
        run: echo "XMAKE_GLOBALDIR=${{ runner.workspace }}/xmake-global" >> $GITHUB_ENV

      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: v3.0.4
          actions-cache-folder: '.xmake-cache'

      - name: xmake repo --update
        run: xmake repo --update

      - name: cache packages from xrepo
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.XMAKE_GLOBALDIR }}/.xmake/packages
          key: xrepo-${{ runner.os }}-${{ matrix.arch }}-${{ hashFiles('xmake-requires.lock') }}

      - name: cache xmake
        uses: actions/cache@v3
        with:
          path: |
            ${{ runner.workspace }}/build/.build_cache
          key: xmake-build-${{ runner.os }}-${{ matrix.arch }}-${{ hashFiles('xmake-requires.lock') }}

      - name: config
        run: xmake config --policies=build.ccache -o ${{ runner.workspace }}/build -m releasedbg --yes
      - name: build
        run: xmake build --yes -vD stem && xmake build --yes -vD --group=tests
      #- name: C++ tests
      #  run: xmake run --yes --verbose --diagnosis --group=tests
      #  env:
      #    QT_QPA_PLATFORM: offscreen
      #- name: Scheme tests
      #  run: xmake run --yes -vD --group=scheme_tests
      #- name: integration test
      #  run: xmake run --yes -vD --group=integration_tests
      #  env:
      #    QT_QPA_PLATFORM: offscreen
