name: Build and Test on Windows

on:
  push:
    branches: [ branch-1.2 ]
    paths:
      - 'src/**'
      - '!src/Plugins/Macos/**'
      - '!src/Plugins/Unix/**'
      - 'tests/**'
      - 'xmake.lua'
      - '.github/workflows/ci-xmake-windows.yml'
    tags:
      - '*'
  pull_request:
    branches: [ branch-1.2 ]
    paths:
      - 'src/**'
      - '!src/Plugins/Macos/**'
      - '!src/Plugins/Unix/**'
      - 'tests/**'
      - 'xmake.lua'
      - '.github/workflows/ci-xmake-windows.yml'
  workflow_dispatch:

jobs:
  windowsbuild:
    # mingw-w64 8.1.0 is installed on windows-2019
    runs-on: windows-2019
    if: always()
    env:
      # Force xmake to a specific folder (for cache)
      XMAKE_GLOBALDIR: "${{ github.workspace }}\\.xmake-global"
    steps:
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: v2.8.1
      - name: update repo
        run: |
          xrepo update-repo
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: cache xmake
        uses: actions/cache@v2
        with:
          path: |
            ${{ env.XMAKE_GLOBALDIR }}/.xmake/packages
            ${{ github.workspace }}/build/.build_cache
          key: ${{ runner.os }}-xmake-qt-${{ hashFiles('**/xmake.lua') }}
      # Force xmake to a specific folder (for cache)
      - name: Set MinGW for xmake
        run: |
          xmake global --mingw="C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin\"
      - name: config
        run: xmake config --policies=build.ccache --yes --verbose --diagnosis -m releasedbg --plat=mingw
      - name: build
        run: xmake build --yes --verbose --diagnosis --all
      - name: test
        run: |
          xmake run --yes --verbose --diagnosis --group=tests
      - name: install
        run: |
          xmake install mogan
      - name: integration test in scheme
        run: xmake run --yes -vD --group=integration_tests
        env:
          QT_QPA_PLATFORM: offscreen