name: Build and Test on Windows

on:
  push:
    branches: [ branch-1.2 ]
    paths:
      - 'src/**'
      - '!src/Plugins/Macos/**'
      - '!src/Plugins/Unix/**'
      - 'tests/**'
      - 'xmake.lua'
      - '.github/workflows/ci-xmake-windows.yml'
    tags:
      - '*'
  pull_request:
    branches: [ branch-1.2 ]
    paths:
      - 'src/**'
      - '!src/Plugins/Macos/**'
      - '!src/Plugins/Unix/**'
      - 'tests/**'
      - 'xmake.lua'
      - '.github/workflows/ci-xmake-windows.yml'
  workflow_dispatch:

jobs:
  windowsbuild:
    # mingw-w64 8.1.0 is installed on windows-2019
    runs-on: windows-2019
    if: always()
    env:
      is-package: ${{contains(github.ref, 'release') || startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'}}
    steps:
      - name: Install msys
        uses: msys2/setup-msys2@v2
        with:
          msystem: MSYS
          path-type: inherit
          install:  >-
            mingw-w64-x86_64-make 
            p7zip 
            git 
            make 
      # Force xmake to a specific folder (for cache)
      - name: Set xmake global dir
        run: |
          echo "XMAKE_GLOBALDIR=${{ runner.workspace }}\.xmake-global" >> "${{ github.env }}"
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: v2.7.9
      - name: update repo
        run: |
          xrepo update-repo
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: 5.15.2
          arch: win64_mingw81
          host: 'windows'
          target: 'desktop'
          cache: 'true'
          tools: 'tools_ifw,qt.tools.ifw.46'
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: cache xmake
        uses: actions/cache@v2
        with:
          path: |
            ${{ env.XMAKE_GLOBALDIR }}/.xmake/packages
            ${{ github.workspace }}/build/.build_cache
          key: ${{ runner.os }}-xmake-qt-${{ hashFiles('**/xmake.lua') }}
      # Force xmake to a specific folder (for cache)
      - name: Set PATH
        run: |
          echo "C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin\" >> "${{ github.path }}"
      - name: config
        shell: msys2 {0}
        run: xmake config --policies=build.ccache --yes --verbose --diagnosis --plat=mingw
      - name: build
        shell: msys2 {0}
        id: build
        run: xmake build --yes --verbose --diagnosis --all
      - name: install
        shell: msys2 {0}
        run: |
          windeployqt --compiler-runtime ./build/mingw/x86_64/release/ -printsupport
          xmake install mogan_install
      - name: test
        shell: msys2 {0}
        run: |
          xmake run --yes --verbose --diagnosis --group=tests
      - name: Upload 
        uses: actions/upload-artifact@v2
        with:
          name: mogan-windows-dev
          path: |
            build\packages\org.xmacslabs.mogan\data\**
      - name: Generate Installer
        if: ${{ env.is-package }}
        shell: msys2 {0}
        run: |
          xmake install windows_installer
      - name: Upload Installer
        if: ${{ env.is-package }}
        uses: actions/upload-artifact@v2
        with:
          name: mogan-windows-dev
          path: |
            build\*.exe
