name: Build via xmake

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'xmake.lua'
      - '.github/workflows/ci-xmake.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'xmake.lua'
      - '.github/workflows/ci-xmake.yml'

jobs:
  macosbuild:
    runs-on: macos-11
    if: always()
    strategy:
      matrix:
        include:
          - qt_ver: 5.15.2
          # - qt_ver: 6.4.1 change xmake.lua to supress macExtra
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: cache xmake
        uses: actions/cache@v2
        with:
          path: |
            ${{github.workspace}}/build/.build_cache
            /Users/runner/.xmake
          key: ${{ runner.os }}-xmake-${{ hashFiles('**/xmake.lua') }}
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: ${{ matrix.qt_ver }}
          target: 'desktop'
          cache: 'true'
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: v2.7.3
          actions-cache-folder: '.xmake-cache'
      - name: Build by gcc
        id: build
        run: |
          xrepo update-repo
          xmake config --yes
          xmake build --yes --verbose --diagnosis --jobs=8 --all
      - name: Test
        run: |
          xmake run --yes --verbose --diagnosis --group=tests
        env:
          QT_QPA_PLATFORM: offscreen
  windowsbuild:
    runs-on: windows-latest
    if: always()
    continue-on-error: true
    strategy:
      fail-fast: true
      matrix:
        include:
          - qt_ver: 5.15.2
            qt_arch: win64_mingw81
          - qt_ver: 6.4.1
            qt_arch: win64_mingw
    steps:
      - name: Install msys and xmake
        uses: msys2/setup-msys2@v2
        with:
          msystem: MSYS
          install:  >-
            mingw-w64-x86_64-xmake 
            mingw-w64-x86_64-make 
            p7zip 
            git 
            make 
      - name: Set up MinGW
        uses: coffeebe4code/setup-mingw@v1-beta-2
        with:
          platform: x64
          version: 8.1.0
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: ${{ matrix.qt_ver }}
          arch: ${{ matrix.qt_arch }}
          host: 'windows'
          target: 'desktop'
          cache: 'true'
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: cache xmake
        uses: actions/cache@v2
        with:
          path: |
            ${{github.workspace}}/build/.build_cache
            C:\Users\runneradmin\AppData\Local\.xmake
          key: ${{ runner.os }}-xmake-${{ hashFiles('**/xmake.lua') }}
      - name: Build by mingw
        shell: msys2 {0}
        id: build
        run: |
          export PATH=/mingw64/bin/:${Qt5_Dir}/bin/:${PATH}
          xrepo update-repo
          xmake config --yes --verbose --diagnosis --plat=mingw --mingw=/c/ProgramData/chocolatey/lib/mingw/tools/install/mingw64/ --qt=${Qt5_Dir}
          xmake build --yes --verbose --diagnosis --jobs=8 --all
          windeployqt --compiler-runtime ./build/mingw/x86_64/release/ -printsupport
          xmake install mogan_install
          windeployqt --compiler-runtime ./build/package/bin/ -printsupport
      - name: Upload 
        uses: actions/upload-artifact@v2
        with:
          name: mogan-windows-dev
          path: |
            build\package\**
      - name: Test
        shell: msys2 {0}
        run: |
          export PATH=/mingw64/bin/:${Qt5_Dir}/bin/:${PATH}
          xmake run --yes --verbose --diagnosis --group=tests
  linuxbuild:
    runs-on: ubuntu-22.04
    if: always()
    continue-on-error: true
    strategy:
      fail-fast: true
      matrix:
        include:
          - qt_pkg: qtbase5-dev libqt5svg5-dev qt5-image-formats-plugins
          - qt_pkg: qt6-base-dev libqt6svg6-dev qt6-image-formats-plugins libgl-dev
    steps:
      - name: Install dependencies
        run: |
          sudo DEBIAN_FRONTEND=noninteractive apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y gcc \
              fonts-noto-cjk libpng-dev zlib1g-dev libjpeg-turbo8-dev \
              libcurl4-openssl-dev libfreetype-dev libsqlite3-dev \
              ${{matrix.qt_pkg}}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: cache xmake
        uses: actions/cache@v2
        with:
          path: |
            ${{github.workspace}}/build/.build_cache
            /home/runner/.config/.xmake
          key: ${{ runner.os }}-xmake-${{ hashFiles('**/xmake.lua') }}
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: v2.7.3
          actions-cache-folder: '.xmake-cache'
      - name: Build by gcc
        id: build
        run: |
          xmake config --yes --qt=/usr
          xmake build --yes --verbose --diagnosis --jobs=8 --all
      - name: Test
        run: |
          xmake run --yes --verbose --diagnosis --group=tests
        env:
          QT_QPA_PLATFORM: offscreen
  
          