name: Build and Test on Windows

on:
  push:
    branches: [ branch-1.1 ]
    paths:
      - 'src/**'
      - '!src/Plugins/Macos/**'
      - '!src/Plugins/Unix/**'
      - 'tests/**'
      - 'xmake.lua'
      - '.github/workflows/ci-xmake-windows.yml'
  pull_request:
    branches: [ branch-1.1 ]
    paths:
      - 'src/**'
      - '!src/Plugins/Macos/**'
      - '!src/Plugins/Unix/**'
      - 'tests/**'
      - 'xmake.lua'
      - '.github/workflows/ci-xmake-windows.yml'

jobs:
  windowsbuild:
    runs-on: windows-latest
    if: always()
    steps:
      - name: Install msys and xmake
        uses: msys2/setup-msys2@v2
        with:
          msystem: MSYS
          install:  >-
            mingw-w64-x86_64-xmake 
            mingw-w64-x86_64-make 
            p7zip 
            git 
            make 
      - name: Set up MinGW
        uses: egor-tensin/setup-mingw@v2
        with:
          platform: x64
          version: 8.1.0
      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: 5.15.2
          arch: win64_mingw81
          host: 'windows'
          target: 'desktop'
          cache: 'true'
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: cache xmake
        uses: actions/cache@v2
        with:
          path: |
            ${{github.workspace}}/build/.build_cache
            C:\Users\runneradmin\AppData\Local\.xmake
          key: ${{ runner.os }}-xmake-${{ hashFiles('**/xmake.lua') }}
      - name: Build by mingw
        shell: msys2 {0}
        id: build
        run: |
          export PATH=/mingw64/bin/:${Qt5_Dir}/bin/:/c/ProgramData/chocolatey/lib/mingw/tools/install/mingw64/bin/:${PATH}
          xrepo update-repo
          xmake config --yes --verbose --diagnosis --plat=mingw --mingw=/c/ProgramData/chocolatey/lib/mingw/tools/install/mingw64/ --qt=${Qt5_Dir}
          xmake build --yes --verbose --diagnosis --jobs=8 --all
          windeployqt --compiler-runtime ./build/mingw/x86_64/release/ -printsupport
          xmake install mogan_install
          windeployqt --compiler-runtime ./build/package/bin/ -printsupport
      - name: Upload 
        uses: actions/upload-artifact@v2
        with:
          name: mogan-windows-dev
          path: |
            build\package\**
      - name: Test
        shell: msys2 {0}
        run: |
          export PATH=/mingw64/bin/:${Qt5_Dir}/bin/:${PATH}
          xmake run --yes --verbose --diagnosis --group=tests
