name: Build and Test on Ubuntu

on:
  push:
    branches: [ branch-1.2 ]
    paths:
      - 'src/**'
      - '!src/Plugins/Macos/**'
      - '!src/Plugins/Windows/**'
      - 'tests/**'
      - 'xmake.lua'
      - '.github/workflows/ci-xmake-ubuntu.yml'
  pull_request:
    branches: [ branch-1.2 ]
    paths:
      - 'src/**'
      - '!src/Plugins/Macos/**'
      - '!src/Plugins/Windows/**'
      - 'tests/**'
      - 'xmake.lua'
      - '.github/workflows/ci-xmake-ubuntu.yml'

jobs:
  linuxbuild:
    runs-on: ubuntu-22.04
    if: always()
    continue-on-error: true
    strategy:
      fail-fast: true
      matrix:
        include:
        - qt_pkg: qtbase5-dev libqt5svg5-dev qt5-image-formats-plugins
          qt_ver: 5
        - qt_pkg: qt6-base-dev libqt6svg6-dev qt6-image-formats-plugins
          qt_ver: 6
    steps:
      - name: Install dependencies
        run: |
          sudo DEBIAN_FRONTEND=noninteractive apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y gcc \
              fonts-noto-cjk libpng-dev zlib1g-dev libjpeg-turbo8-dev \
              libcurl4-openssl-dev libfreetype-dev \
              ${{matrix.qt_pkg}}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: set XMAKE_GLOBALDIR
        run: echo "XMAKE_GLOBALDIR=${{ runner.workspace }}/xmake-global" >> $GITHUB_ENV

      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: v2.7.9
          actions-cache-folder: '.xmake-cache'

      - name: xmake repo --update
        run: xmake repo --update

      - name: cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.XMAKE_GLOBALDIR }}/.xmake/packages
            ${{ runner.workspace }}/build/.build_cache
          key: ${{ runner.os }}-xmake-qt${{ matrix.qt_ver }}-${{ hashFiles('**/xmake.lua') }}

      - name: config
        run: xmake config --policies=build.ccache -m releasedbg --yes
      - name: build
        run: xmake build --yes --verbose --diagnosis --all
      - name: test
        run: bin/test_all
        env:
          QT_QPA_PLATFORM: offscreen
      - name: install
        run: xmake install mogan
      - name: integration test
        run: xmake run --yes -vD --group=integration_tests
        env:
          QT_QPA_PLATFORM: offscreen
