name: Lint

on:
  pull_request:
    branches: [ lts-125 ]
    paths:
      -  'tests/**.cpp'
      -  'tests/**.hpp'
      -  'xmake.lua'
      -  'src/**.cpp'
      -  'src/**.hpp'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.16.2
      with:
        source: './src
                ./tests'
        exclude: './build ./xmake ./workflow ./github'
        extensions: 'hpp,cpp'
        clangFormatVersion: 16
        style: file

